<mat-toolbar color="primary">
    <span>My Store</span>
    <!--Colocamos un span donde con este y la clase spacer correremos toada linformacion del carrito de compras a la derecha de la pantalla por esto lo colocamos entre el titulo mystore y el componente app cart-->
    <span class="spacer"></span>
    <!--Para que no moleste y nos devuelva error la sigueinte etiqueta debemos en app.module.ts colocar dentro de declarations al app cart module y realizar la importacion dentro del componente app module-->
    <app-cart></app-cart>
</mat-toolbar>