/*Agregamos estilo localmente para que no aparezca desordenada la informacion del componente*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}