<header>
    <h1>{{title}}</h1>
    <!--En el componente del boton clocamos los componentes creados en button mediante el decorador tanto color como text se crean con input, luego tenemos lo que nos esta enviando la funcion en btnClick que es el evento clic sobre el boton este evento le decimos que ejecute la funcion toggleAddTask() pero esta tiene que estar definida dentro del header component-->
    <app-button 
        color="green" 
        text="Add Task"
        (btnClick)="toggleAddTask()"
    >
    </app-button>
</header>
