<!--Usamos un binding para usar una propiedad del componente-->
<!--Usamos el pipe | para transformar products en un dato de tipo json-->
<!-- La etiqueta pre de html lo que hace es mostrar la informacion que se escribe dentro de ella tal cual como se coloca por ejemplo si se coloca con saltos de linea entonces se mostrara de la misma manera en el DOM -->
<!-- <pre>
    {{products | json}}
</pre> -->

<!--Como estamos usando angular material entonces vamos a usar algunas etiquetas de este-->
<section class="products">
    <!-- Ahora lo que hacemos es colcoar mediante la etiqueta el modulo de product y dentro de este comunicamos mediante binding con el componente enviandole el product el cual se obtiene mediante el recorrido de la lista de productos con el ngFor -->
    <!--Ahora lo que hacemos aqui es que cuando ocurra el metodo addToCartClick entonces llamara al metodo de este componente llamado addToCart y le pasamos como parametro el evento $event que seria el product en este caso (tambien se podria colocar el product en vez del event pero queda mas generico con el event y funcional de esta manera) , esto es lo mismo que cualquier evento de js lo unico que ahora lo que nosotros hemos hecho es crear nuestro propio evento personalizado mnediante el decorador Output-->
    <app-product 
        (addToCartClick)="addToCart($event)"
        [product]="product" 
        *ngFor="let product of products"
    >
    </app-product>
</section>

