.task{
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/*Creamos una clase para que todas las tareas que tengan un remainder tengan un borde verde*/
.task.reminder{
    border-left: 5px solid green;
}

/*Colocamos un display flex y lo colocamos al centro al titulo para que no quede todo desordenado*/
.task h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}