<!--Ahora dentro de este componente creamos el fgormulario encargado de recopilar la informacion para crear la nueva tarea-->
<!--Le agregamos al formulario tambien la directiva ngSubmit para reconocer cuando se realiza un submit del formulario, entonces cuando se hace click en el boton de submit como es de tipo submit se va a ejecutar la directiva-->
<!--Asignamos al formulario un *ngIf que lo que hace es si se cumple que showAddTask es verdadero se muestra el formulario y si no es verdadero se oculta-->
<form 
    class="add-form" 
    (ngSubmit)="onSubmit()"
    *ngIf="showAddTask"
>
    <div class="form-control">
        <label for="text">Task</label>
        <!--Mediante un doble binding relizamos la recepcion o envio de la informacion en la variable de text, esto quiere decir que a medida que vamos escribiendo en el input se va guardando la informacion en el controlador y se esta visualizando a la vez-->
        <input 
            type="text" 
            name="text" 
            id="text" 
            placeholder="Add Task Text"
            [(ngModel)]="text"
        />
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input 
            type="text" 
            name="day" 
            id="day" 
            placeholder="Add Day & Time"
            [(ngModel)]="day"
        />
    </div>

    <div class="form-control form-control-check">
        <label for="reminder">Reminder</label>
        <input 
            type="checkbox" 
            name="reminder" 
            id="reminder"
            [(ngModel)]="reminder"
        />
    </div>

    <input type="submit" value="Save Task" class="btn btn-block">
</form>
