<!--Agregamos los items mediante el componente tasks-item para cada tarjeta que tengamos de informacion
Recorremos todas las tareas pero en vez de mostrarla directamente en este componente loq ue hacemos es enviarla al componente de tarea mediante un bining-->
<!--Esta viene siendo una de las tarjetas por lo cual vamos a recibir una tarea por tarjeta-->
<!--Le pasamos la tarea que recibimos en el ngFor mediante binding con [task]-->
<!--Pasamos mediante binding que cuando se ejecute la funcion del elemento hijo onDeleteTask se ejecute la funcion deleteTask con el parametro de la tarea task dentro de este componente para que sea este el que elimine la tarea-->
<!--Recibimos la accion de togglereminder desde el componente hijo y ejecutamos el metodo en este componente llamado togglereminder el cual se encarga de realizar la accion de cambiar o iterar entre true y false a la propiedad reminder-->
<!--Agregamos el componente a la pantalla de agregar nuevo task-->
<!--Recibimos en add task el componente de tareas nuevas enviado del componente add-task, y cuando se reciba se delega a la funcion del componente addTask que se le pasa por parametro el evento en el cual viene la nueva tarea pero debemos colocar $event para indicar que lo que viene por parametro es un evento-->
<app-add-task
    (onAddTask)="addTask($event)"
>

</app-add-task>
<app-tasks-item 
    *ngFor="let task of tasks"
    [task]="task"
    (onDeleteTask)="deleteTask(task)"
    (onToggleReminder)="toggleReminder(task)"
>
</app-tasks-item>

